In [1]:
%load_ext sql

In [2]:
from configparser import ConfigParser

# Read config file

In [3]:
config = ConfigParser()
config.read_file(open('dwh.cfg'))

# Connect to redshift database

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(*config['DATABASE'].values())
print(conn_string)
%sql $conn_string

postgresql://redshiftuser:Passw0rd@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb

# Check all tables inside the database
The default schema is 'public'

In [5]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [6]:
%sql SELECT * FROM staging_songs LIMIT 10;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
10 rows affected.

[(1, 'ARA23XO1187B9AF18F', 40.57885, -74.21956, 'Carteret, New Jersey', 'The Smithereens', 'SOKTJDS12AF72A25E5', 'Drown In My Own Tears (24-Bit Digitally Remastered 04)', 192.522, 0),
 (1, 'ARFCUN31187B9AD578', 51.50632, -0.12714, 'London, England', 'The Rolling Stones', 'SONQBUB12A6D4F8ED0', 'Angie (1993 Digital Remaster)', 271.49016, 0),
 (1, 'ARY0RQP1187FB48B93', None, None, None, 'Mickey 3D', 'SOHOXLZ12A6D4F8FC0', 'Les Gens Raisonnables', 207.12444, 2003),
 (1, 'ARIVQ621187FB5A88D', None, None, None, 'Massimo Volume', 'SOXQDSK12A6D4FA909', "La Notte Dell'11 Ottobre", 270.78485, 1995),
 (1, 'AR5LZJD1187FB4C5E5', 35.66693, -80.46935, ' NC', 'Britt Nicole', 'SOGXFIF12A58A78CC4', 'Hanging On (Medium Key Performance Track Without Background Vocals)', 204.06812, 0),
 (1, 'ARGCVZG1187B9B916F', None, None, None, 'Hayseed Dixie', 'SOIOQNE12A58A7CBB7', 'Sabbath Bloody Sabbath', 250.67057, 2010),
 (1, 'ARH5D6D1187FB4C572', 37.77916, -122.42005, 'California - SF', 'Karunesh', 'SOXVSSI12AB017BAF4', 'Tao and Zen', 188.00281, 2001),
 (1, 'AR98ZSW1187B98E82C', None, None, None, 'Kalle Baah', 'SOABYIT12AB0183026', 'Vilda vindar', 266.13506, 1985),
 (1, 'AR06XSY1187B9B279E', None, None, 'Melbourne, Australia', 'Little River Band', 'SOFBIME12AB01898AB', 'Man On Your Mind', 230.922, 1981),
 (1, 'ARAIJE71187FB5AF69', None, None, None, 'Children 18:3', 'SOOXGQJ12A8C1390C5', 'Even Sleeping', 196.80608, 2008)]

In [7]:
%sql SELECT * FROM staging_events LIMIT 10;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
10 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, datetime.datetime(2018, 11, 3, 1, 4, 33, 796000), None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', 1541077528796, 52, None, 200, datetime.datetime(2018, 11, 3, 1, 5, 23, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Playa Haters', 200, datetime.datetime(2018, 11, 3, 1, 5, 50, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'You Belong With Me', 200, datetime.datetime(2018, 11, 3, 1, 8, 36, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Valerie', 200, datetime.datetime(2018, 11, 3, 1, 12, 26, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Jimmy Eat World', 'Logged In', 'Celeste', 'F', 5, 'Williams', 285.83138, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Dizzy', 200, datetime.datetime(2018, 11, 3, 1, 16, 15, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (None, 'Logged Out', None, None, 0, None, None, 'free', None, 'GET', 'Home', None, 18, None, 200, datetime.datetime(2018, 11, 3, 10, 9, 9, 796000), None, None),
 ('Maldita Nerea', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 241.162, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796, 158, 'Supelicula', 200, datetime.datetime(2018, 11, 3, 14, 17, 50, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 ('Fluke', 'Logged In', 'Connar', 'M', 0, 'Moreno', 478.92853, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540823606796, 168, 'Bermuda', 200, datetime.datetime(2018, 11, 3, 15, 11, 20, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/538.46 (KHTML, like Gecko) Version/8.0 Safari/538.46"', 62),
 ('Habib KoitÃ\x83Â©', 'Logged In', 'Jayden', 'M', 0, 'Fox', 285.1522, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796, 185, 'Din Din Wo', 200, datetime.datetime(2018, 11, 3, 15, 36, 8, 796000), '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101)]

In [8]:
%sql SELECT * FROM songs LIMIT 10;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
10 rows affected.

[('SOAOWLA12A6D4F7DD4', 'New York (Dave Goodman Demo Version) (Explicit)', 'ARD3LXU1187B9ABFC5', 0, 186.40934),
 ('SOKSARC12A6D4F85BF', 'Our America (Bonus Track)', 'ARLKCMN1187FB599FB', 2005, 162.61179),
 ('SOWNTTN12A8C141571', 'Irony', 'AR5F20K1187B9B6278', 2006, 570.61832),
 ('SOMEVNH12AAF3B1E7A', "Bella D'Estate", 'ARIJFXI1187B9A6142', 2008, 209.47546),
 ('SOLNLRO12A58A79FDE', 'Total All Out Water', 'ARTOW751187FB58003', 2002, 232.41098),
 ('SOPHYEM12A8C1340FB', 'Rivers Of Babylon', 'ARVODOV1187B9AE0CC', 1970, 254.45832),
 ('SOWQQBR12AB018D930', 'A Thousand Tears', 'ARUITN01187FB44935', 2007, 283.37587),
 ('SOKJQIQ12A8C135345', 'Tongues Of Vipers', 'ARBF1VK1187B99C42C', 0, 231.49669),
 ('SOFQZJF12AB0186382', 'No Limit', 'ARFXYSP122ECCB88F3', 0, 144.79628),
 ('SOHSILH12A58A7CA6B', 'Hot Night Downtown', 'ARUUXNF1187B98FB36', 1988, 202.34404)]

In [9]:
%sql SELECT * FROM artists LIMIT 10;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
10 rows affected.

[('ARR6LWJ1187FB44C8B', 'R.E.M.', 'Athens, GA', None, None),
 ('AR2JHE91187B9A7743', 'Fear Cult', None, None, None),
 ('AR4JY8V1187B98A62F', 'Ann Hampton Callaway', None, None, None),
 ('ARMHQZE1187B99A822', 'Toby Lightman', 'Cherry Hill, New Jersey', 39.9275, -75.03055),
 ('AROGAPH1187B98CF9C', 'Bénabar', None, None, None),
 ('ARJEOGL1187B98E9D4', 'Klee', 'Cologne, Germany', None, None),
 ('ARFN2TE11A348EFFB4', 'David Cook', 'Tulsa, Oklahoma', 36.15398, -95.99277),
 ('ARX395D1187FB41D91', 'Emiliana Torrini', 'Kópavogur, Iceland', 64.11008, -21.89294),
 ('ARMGDJZ1187B9AD74C', 'The Blues Brothers', None, None, None),
 ('ARWKO2O1187B9B5FA7', 'Tree63', None, None, None)]

In [10]:
%sql SELECT * FROM users LIMIT 10;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
10 rows affected.

[(69, 'Anabelle', 'Simpson', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (52, 'Theodore', 'Smith', 'M', 'free'),
 (60, 'Devin', 'Larson', 'M', 'free'),
 (27, 'Carlos', 'Carter', 'M', 'free'),
 (13, 'Ava', 'Robinson', 'F', 'free'),
 (37, 'Jordan', 'Hicks', 'F', 'free'),
 (92, 'Ryann', 'Smith', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free')]

In [11]:
%sql SELECT * FROM time LIMIT 10;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
10 rows affected.

[(datetime.datetime(2018, 11, 3, 15, 36, 8, 796000), 15, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 21, 41, 796000), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 50, 42, 796000), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 17, 6, 28, 796000), 17, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 17, 23, 37, 796000), 17, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 17, 39, 13, 796000), 17, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 17, 51, 49, 796000), 17, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 18, 6, 36, 796000), 18, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 18, 21, 21, 796000), 18, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 18, 35, 41, 796000), 18, 3, 44, 11, 2018, 6)]

In [12]:
%sql SELECT * FROM songplays ORDER BY songplay_id LIMIT 10;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
10 rows affected.

[(1, datetime.datetime(2018, 11, 15, 21, 59, 51, 796000), 44, 'paid', 'SODPLYE12AB01898FB', 'ARA3I0J1187FB57869', 619, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2, datetime.datetime(2018, 11, 20, 11, 1, 0, 796000), 42, 'paid', 'SONZWDK12A6701F62B', 'ARL4UQB1187B9B74E3', 747, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 15, 14, 53, 43, 796000), 97, 'paid', 'SOWEFTO12A3F1EB976', 'ARPN0Y61187B9ABAA0', 605, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 26, 18, 25, 34, 796000), 92, 'free', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', 938, 'Palestine, TX', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (5, datetime.datetime(2018, 11, 28, 8, 18, 57, 796000), 58, 'paid', 'SOJWCWM12A8C13B664', 'ARM6T8I1187FB36CC8', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 13, 18, 39, 37, 796000), 15, 'paid', 'SOVAEBW12AB0182CE6', 'AR756JL1187FB3D3A9', 417, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 7, 7, 58, 28, 796000), 100, 'free', 'SODTPBM12A8C1339D7', 'AR4OH581187B9B7157', 301, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (8, datetime.datetime(2018, 11, 23, 18, 11, 1, 796000), 86, 'free', 'SOQDMXT12A6D4F8255', 'ART5MUE1187B98C961', 869, 'La Crosse-Onalaska, WI-MN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (9, datetime.datetime(2018, 11, 19, 8, 32, 12, 796000), 24, 'paid', 'SOSMTXQ12A6D4F721D', 'ARS927Z1187B9ACA29', 672, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (10, datetime.datetime(2018, 11, 15, 12, 58, 38, 796000), 30, 'paid', 'SONZWDK12A6701F62B', 'ARL4UQB1187B9B74E3', 324, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [13]:
%sql SELECT COUNT(*) FROM artists;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
1 rows affected.

[(10025,)]

In [14]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
1 rows affected.

[(14896,)]

In [15]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
1 rows affected.

[(104,)]

In [16]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
1 rows affected.

[(6813,)]

In [17]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
1 rows affected.

[(333,)]

# Data quality Check

## Check if artist_id is unique

In [18]:
%%sql
SELECT count(artist_id), count(distinct artist_id)
FROM 
(
    SELECT DISTINCT
        artist_id,
        artist_name AS name,
        artist_location AS location,
        artist_latitude AS lattitude,
        artist_longitude AS longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL
);

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
1 rows affected.

[(10025, 9553)]

# Check duplicated artist_id

In [19]:
%%sql
SELECT artist_id, COUNT(*)
FROM
(
    SELECT DISTINCT
        artist_id,
        artist_name AS name,
        artist_location AS location,
        artist_latitude AS lattitude,
        artist_longitude AS longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL
)
GROUP BY artist_id
HAVING COUNT(*) > 1
ORDER BY artist_id
LIMIT 20;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
20 rows affected.

[('AR03BDP1187FB5B324', 2),
 ('AR040M31187B98CA41', 2),
 ('AR04S8J1187FB48358', 2),
 ('AR065TW1187FB4C3A5', 4),
 ('AR07SOR1187FB46179', 2),
 ('AR0CANF1187B9AF35F', 3),
 ('AR0CWOB1187B99FA08', 2),
 ('AR0DYTO1187FB4B6AE', 2),
 ('AR0IAWL1187B9A96D0', 2),
 ('AR0IU4L1187FB4CCB9', 2),
 ('AR0MWD61187B9B2B12', 2),
 ('AR0O3AV1187FB4D030', 2),
 ('AR0OQPL1187B9B549A', 3),
 ('AR0UL1P1187FB4CEB3', 2),
 ('AR10USD1187B99F3F1', 2),
 ('AR15L9L1187FB469BB', 2),
 ('AR189B91187B9B8D9C', 2),
 ('AR1CD5Z1187B98F2C2', 2),
 ('AR1OGXT1187B9893EB', 3),
 ('AR1QF001187B9B2B9F', 3)]

## Check why artist_id is not unique
See README file for explanation

In [20]:
%%sql
SELECT a.*
FROM 
(
    SELECT DISTINCT
        artist_id,
        artist_name AS name,
        artist_location AS location,
        artist_latitude AS lattitude,
        artist_longitude AS longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL
) a
JOIN 
(
SELECT artist_id, COUNT(*)
FROM
(
    SELECT DISTINCT
        artist_id,
        artist_name AS name,
        artist_location AS location,
        artist_latitude AS lattitude,
        artist_longitude AS longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL
)
GROUP BY artist_id
HAVING count(*) > 1 
) b
ON a.artist_id = b.artist_id
ORDER BY artist_id
LIMIT 20;

 * postgresql://redshiftuser:***@redshiftcluster.crjn8bqxq38c.us-west-2.redshift.amazonaws.com:5439/redshiftdb
20 rows affected.

[('AR03BDP1187FB5B324', 'Britney Spears feat. Pharrell Williams', 'Kentwood, LA; Los Angeles, CA', 34.05349, -118.24532),
 ('AR03BDP1187FB5B324', 'Britney Spears', 'Kentwood, LA; Los Angeles, CA', 34.05349, -118.24532),
 ('AR040M31187B98CA41', 'The Bug Featuring Spaceape', None, None, None),
 ('AR040M31187B98CA41', 'The Bug Featuring Ricky Ranking', None, None, None),
 ('AR04S8J1187FB48358', 'Clifford Brown / Max Roach Quintet', 'Wilmington, DE', 39.74023, -75.55084),
 ('AR04S8J1187FB48358', 'Clifford Brown', 'Wilmington, DE', 39.74023, -75.55084),
 ('AR065TW1187FB4C3A5', 'Tricky / The Mad Dog Reflex', 'Knowle West, Bristol, Avon, Engla', 51.43558, -2.57518),
 ('AR065TW1187FB4C3A5', 'Nearly God', 'Knowle West, Bristol, Avon, Engla', 51.43558, -2.57518),
 ('AR065TW1187FB4C3A5', 'Tricky', 'Knowle West, Bristol, Avon, Engla', None, None),
 ('AR065TW1187FB4C3A5', 'Tricky', 'Knowle West, Bristol, Avon, Engla', 51.43558, -2.57518),
 ('AR07SOR1187FB46179', 'Goo Goo Dolls', 'Buffalo, NY', None, None),
 ('AR07SOR1187FB46179', 'The Goo Goo Dolls', 'Buffalo, NY', None, None),
 ('AR0CANF1187B9AF35F', 'Dilated Peoples Featuring Capleton', 'Los Angeles, California', 34.05349, -118.24532),
 ('AR0CANF1187B9AF35F', 'Dilated Peoples', 'Los Angeles, California', 34.05349, -118.24532),
 ('AR0CANF1187B9AF35F', 'Dilated Peoples Featuring Devin The Dude', 'Los Angeles, California', 34.05349, -118.24532),
 ('AR0CWOB1187B99FA08', 'GARFIELD', 'United States', None, None),
 ('AR0CWOB1187B99FA08', 'Christophe Beck', 'United States', None, None),
 ('AR0DYTO1187FB4B6AE', 'Loney Dear', None, None, None),
 ('AR0DYTO1187FB4B6AE', 'Loney_ Dear', None, None, None),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez / Claus Ogerman', 'Panama', 8.4177, -80.11278)]

# Don't forget to restart the kernel